@using ATM.Areas.Identity.Data
@using ATM.Helpers
@using Microsoft.AspNetCore.Identity
@using ATM.AppServices.CustomerSetup.Dtos

@inject ATM.AppServices.CustomerSetup.ICustomerAppService _customerAppService
@inject UserManager<ApplicationUser> _userManager

@{
    CustomerDto customer = new CustomerDto();
    if (User.IsInRole(RoleNames.Customer))
    {
        var currentUser = await _userManager.GetUserAsync(User);
        customer = await _customerAppService.GetDetailByLoginUserId(currentUser.Id);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/icons/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ATM</a> *@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        @if (User.IsInRole(RoleNames.SuperAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Index">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="BankAccount" asp-action="Index">Bank Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="BankCard" asp-action="Index">Bank Card</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleNames.Customer))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Profile" asp-route-guid="@customer.CustomerGuid.ToString()">Profile</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ATM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: 'Select an option',
            allowClear: true
        });
    });
</script>