@using ATM.Helpers
@model IReadOnlyList<ATM.AppServices.BankCardSetup.Dtos.BankCardDto>

@{
    ViewData["Title"] = "Bank Card Detail";
    string roleName = (ViewBag.RoleName ?? string.Empty) as string;
}

<div class="card" style="margin-top: 15px;">
    <div class="card-body">
        @if (roleName == RoleNames.SuperAdmin)
        {
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button onclick="createBankCard()" class="btn btn-primary">Create New</button>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div>
                    <table id="bankCardTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Card Number</th>
                                <th>PIN</th>
                                <th>Opening Date</th>
                                <th>Vaild Till Date</th>
                                <th>Audit Info</th>
                                <th class="text-center">Enables?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (roleName == RoleNames.SuperAdmin)
                                        {
                                            <a href="#" onclick="updateBankCard('@item.BankCardGuid.ToString()')" title="Update" style="color: #3399ff">
                                                <i class="fa fa-pencil-square fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>@item.BankCardNumber</td>
                                    <td>
                                        @item.PIN &ensp;
                                        @if (roleName == RoleNames.Customer)
                                        {
                                            <a href="#" onclick="updateBankCardPIN('@item.BankCardGuid.ToString()')" title="Update PIN" style="color: #3399ff">
                                                <i class="fa fa-key fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>@item.CreationTime.Value.ToString("dd-MMM-yyyy")</td>
                                    <td>@item.ValidDate.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        @Html.Raw(CustomerHelper.GetUpdatedUserInfo(@item.UpdatedTime))
                                    </td>
                                    <td class="text-center"><input type="checkbox" @(item.IsActive ? "checked" : "") /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>